.appWrapper {
    display: flex;
    min-height: 100vh;
}

.sidePanel {
    width: 400px;
    background: azure;
}

.main {
    background: cadetblue;
    width: 100%;
}

.main, .sidePanel {
    padding: 15px;
}